<html>

    <head>


    </head>


    <body>
        <h2>нужно прикрутить таблицу</h2>

        <p>работаю</p>

        <table class="table table-bordered">
  ...       <thead>
                <tr>
                    <th>Имя</th>
                    <th>Телефон</th>
                    <th>Дата и время</th>
                    <th>Парикмахер</th>
                    <th>Электронная почта</th>
                    <th>Цвет</th>

                </tr>
            </thead>
            <tbody>    
                <%@results.each do |row|%>
                    
                
                    <tr>
                        <td><%=  row['username'] %></td>
                        <td><%=  row['phone'] %></td>
                        <td><%=  row['datestamp'] %></td>
                        <td><%=  row['barber'] %></td>
                        <td><%=  row['mails'] %></td>
                        <td style= "background-color: <%= row['color']%>" ><%=  row['color'] %></td>
                    </tr>
                <%end%>
            </tbody>
        </table>



    </body>






</html>